{%- liquid
  assign text = section.settings.text
  assign link = section.settings.link
  assign show_announcement_bar = false

  if section.settings.home_page_only == false or template.name == 'index'
    assign show_announcement_bar = true
  endif
-%}

{%- if show_announcement_bar -%}
  <style>
    #AnnouncementBar {
      background-color: var(--announcement-bar-bg);
      color: var(--announcement-bar-color);
      text-align: center;
    }
    #AnnouncementBar a,
    #AnnouncementBar p,
    #AnnouncementBar div[role="complementary"] {
      font-size: 1rem;
      font-weight: 600;
      padding-top: 8px;
      padding-bottom: 8px;
      color: var(--announcement-bar-color);
    }
    #AnnouncementBar a {
      display: block;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
    }
    #AnnouncementBar .splide__track {
      overflow: hidden;
    }
    #AnnouncementBar .splide__slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #AnnouncementBar .splide__arrows {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      pointer-events: none;
    }
    #AnnouncementBar .splide__arrow {
      pointer-events: all;
      color: var(--announcement-bar-color);
      background: none;
      border: none;
      cursor: pointer;
      opacity: 1;
    }
  </style>
  <section
    class="relative border-section-border border-b-section"
    data-color-scheme="{{ section.settings.color_scheme }}"
    id="AnnouncementBar"
  >
    {%- if section.settings.display == 'slider' -%}
      {%- if section.blocks.size > 0 -%}
        <div
          id="announcement-slider-{{ section.id }}"
          class="splide"
        >
          <div class="splide__track">
            <ul class="splide__list">
              {%- for block in section.blocks -%}
                <li class="splide__slide" {{ block.shopify_attributes }}>
                  {%- if block.settings.link != blank -%}
                    <a href="{{ block.settings.link }}">
                      {{ block.settings.text | escape }}
                    </a>
                  {%- else -%}
                    <div role="complementary">
                      <p>{{ block.settings.text | escape }}</p>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
          {%- if section.blocks.size > 1 -%}
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev" aria-label="{{ 'sections.slideshow.previous_slide' | t }}">
                <span>{% render 'icon-previous-announcement' %}</span>
              </button>
              <button class="splide__arrow splide__arrow--next" aria-label="{{ 'sections.slideshow.next_slide' | t }}">
                <span>{% render 'icon-next-announcement' %}</span>
              </button>
            </div>
          {%- endif -%}
          <script class="slideshow-options" type="application/json">
            {
              "mediaQuery": "min",
              "arrows": true,
              "pagination": false,
              "rewind": true,
              "perPage": 1,
              "perMove": 1,
              "type": "loop",
              "autoScroll": {
                "autoStart": false
              },
              "autoplay": true,
              "interval": 3000,
              "pauseOnHover": true,
              "pauseOnFocus": true
            }
          </script>
        </div>
      {%- else -%}
        <div role="complementary">
          <p>{{ text | escape }}</p>
        </div>
      {%- endif -%}
    {%- elsif section.settings.display == 'static' -%}
      {%- if link != blank -%}
        <a href="{{ link }}">{{ text | escape }}</a>
      {%- else -%}
        <div role="complementary">
          <p>{{ text | escape }}</p>
        </div>
      {%- endif -%}
    {%- else -%}
      {%- render 'scrolling-text', class: 'py-1 lg:py-2' %}
    {%- endif -%}
  </section>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.announcement_bar.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "t:common.settings.home_page_only.label",
      "default": true
    },
    {
      "type": "select",
      "id": "display",
      "label": "t:sections.announcement_bar.settings.display.label",
      "options": [
        {
          "value": "scrolling_text",
          "label": "t:sections.announcement_bar.settings.display.options.scrolling_text.label"
        },
        {
          "value": "static",
          "label": "t:sections.announcement_bar.settings.display.options.static.label"
        },
        {
          "value": "slider",
          "label": "t:sections.announcement_bar.settings.display.options.slider.label"
        }
      ],
      "default": "scrolling_text"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:sections.announcement_bar.settings.text.label",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:common.settings.link.label"
    },
    {
      "type": "header",
      "content": "t:common.settings.header_color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "t:common.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "use_gradient_background",
      "label": "t:common.settings.use_gradient_background.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement_bar.settings.header_scrolling_text"
    },
    {
      "type": "checkbox",
      "id": "repeat_text",
      "default": true,
      "label": "t:common.settings.repeat_text.label",
      "info": "t:common.settings.repeat_text.info"
    },
    {
      "type": "select",
      "id": "shape_between_text",
      "label": "t:common.settings.shape_between_text.label",
      "options": [
        {
          "value": "none",
          "label": "t:common.options.none.label"
        },
        {
          "value": "circle",
          "label": "t:common.options.circle.label"
        },
        {
          "value": "diamond",
          "label": "t:common.options.diamond.label"
        },
        {
          "value": "triangle",
          "label": "t:common.options.triangle.label"
        },
        {
          "value": "star",
          "label": "t:common.options.star.label"
        },
        {
          "value": "10_point_star",
          "label": "t:common.options.10_point_star.label"
        },
        {
          "value": "flower",
          "label": "t:common.options.flower.label"
        }
      ],
      "default": "10_point_star"
    },
    {
      "type": "checkbox",
      "id": "animate_shape_between_text",
      "default": true,
      "label": "t:common.settings.animate_shape_between_text.label"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 10,
      "max": 400,
      "step": 10,
      "label": "t:common.settings.speed.label",
      "default": 120
    },
    {
      "type": "select",
      "id": "direction",
      "label": "t:common.settings.direction.label",
      "options": [
        {
          "value": "",
          "label": "t:common.options.right_to_left.label"
        },
        {
          "value": "reverse",
          "label": "t:common.options.left_to_right.label"
        }
      ],
      "default": ""
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement_bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.announcement_bar.settings.text.label",
          "default": "Announce something here"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:common.settings.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
